.sub-container1{
    display: flex;
}

.register-container{
    height: 60vh;
    width: 30vw;
    top: 27%;
    background-color: rgb(116, 149, 209);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.register-container > form{
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-control{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;   
}


#exampleFormControlInput1{
    width: 20vw;
}

#inputPassword2{
    width: 20vw;
}

#validationTooltip01::placeholder,  #validationTooltip02::placeholder, #exampleFormControlInput1::placeholder, #inputPassword2::placeholder{
    color: white;
}