.login-container{
    height: 50vh;
    width: 30vw;
    top: 27%;
    background-color: rgb(116, 149, 209);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.login-container > form{
    display: flex;
    justify-content: center;
    align-items: center;
}


